.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.8em;
  margin-top: 12px;
}

.App-content {
  font-size: large;
  padding-top: 20px;
  margin: 0 auto;
  min-width: 240px;
  max-width: 600px;
}

.status li {
  display: inline-block;
  margin-left: 30px;
}

/*todo-item*/

.todo-item {
  display: flex;
  text-align: left;
}

.todo-content {
  flex: 1;
}

.todo-operation {
  width: 300px;
}
